html, body  {
    background: #FBB13C;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

#app {
    width: 1280px;
    max-width: 1280px;
}

@media (max-width: 1300px) {
    #app {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    #app {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    #app {
        max-width: 100%;
    }
}